
footer{

  background: black;
  height:100%;
  padding: 25px;

}


p{ font-size: 20px;}


h2{

  margin-bottom: 15px;
}



.btn{

cursor: pointer;

}

.area {


	font-family:Impact ;
	color: red;
}

option{


	color: red;
	font-family: Impact;
}

.jugar{

    font-family:Verdana;
    color: orange;


}

.juegos{
  color: green;
  font-family: Arial Black;



}
