
footer{

  background: black;
  height:100%;
  padding: 25px;

}


p{ font-size: 20px;}


h2{

  margin-bottom: 15px;
}



.btn,button {

cursor: pointer;

}

button



.area {


	font-family:Impact ;
	color: red;
}

option{


	color: red;
	font-family: Impact;
}

.jugar{

    font-family:Verdana;
    color: orange;


}

.juegos{
  color: green;
  font-family: Arial Black;



}



.jugar{

    font-family:Verdana;
    color: orange;


}

.juegos{
  color: green;
  font-family: Arial Black;



}





.verde{

  background: #43ce43;
  width: 250px;
  height: 80px;
  border-radius: 20px;


}

.rojo{

  background:#a71919;
  width: 250px;
  height: 80px;
  border-radius: 20px;
  left: 350px;

}

.azul{

  background: #121275;
  width: 250px;
  height: 80px;
  top:250px;
  border-radius: 20px;
  left: 350px;

}

.amarillo{

  background: #b1b11e;
  width: 250px;
  height: 80px;
  top: 250px;
  border-radius: 20px;


}
